body{
  background-color: #607d8b4f;
}

.disInline{
  display: inline-block ;
  background-color: white;
  width: 141px;
  padding: 50px;
  margin: 20px;
}



.filterOuter{
  display: inline-block ;
  position: fixed;
  background-color: white;
  width: 168px; 
  height: 441px;
  margin: 20px;
  margin-top: 76px;
  padding-left: 15px;
}

.contentBox{
  margin-left: 211px;
}

.boxGap{
  padding: 29px;
}

.btn{
  margin: 2px;
    padding: 2px 18px 2px 18px;
}

